<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<title>Hello World!</title>
</head>
<body>
	<h1>修改用户</h1>
	<form action="/User/UpdUser" method="post">
		<table>
			<tr>
				<td>序号:</td>
				<td><input type="text" id="id" name="id"  th:value="*{user.id}"></td>
			</tr>
			<tr>
				<td>用户名:</td>
				<td><input type="text" id="userName" name="userName"
					th:value="*{user.userName}"></td>
			</tr>
			<tr>
				<td>邮箱:</td>
				<td><input type="text" id="email" name="email" th:value="*{user.email}"></td>
			</tr>
			<tr>
				<td><input id="
					addUser1" type="submit" value="提交" /></td>
				<td><input type="button" value="取消"
					onclick="javascript:history.go(-1);"></td>
			</tr>
		</table>
	</form>
</body>
</html>